
  <div class="adoption-form-container">
    <h3 class="adoption-form-header">You have chosen to adopt <%= @pet.name %></h3>

    <%= simple_form_for @adoption do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :pet_id, value: @pet.id %>

      <div class="form-group">
        <%= form.label :your_name, "Name:", class: 'form-label' %>
        <%= form.text_field :your_name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :reason_for_adoption, "Reason for adoption:" ,class: 'form-label' %>
        <%= form.text_area :reason_for_adoption, class: 'form-control', rows: 4 %>
      </div>

      <div class="form-group">
        <%= form.label :email, "Email:", class: 'form-label' %>
        <%= form.email_field :email, class: 'form-control' %>
      </div>
      <%= form.submit "Submit", class: "btn btn-primary form-submit" %>
    </div>
    <%end%>
    <div class="content-container">
      <h1>"Where Hearts Find Homes"</h1>
    </div>
  </div>
