<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="centered-form">
    <h2>Add a Pet</h2>
    <%= form_for @pet, url: pets_path, html: { multipart: true, data: { turbo: false } } do |f| %>


      <% if @pet.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>
          <ul>
            <% @pet.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-field">
        <%= f.label :name_of_pet %>
        <%= f.text_field :name %>
      </div>

      <div class="form-field">
        <%= f.label :species %>
        <%= f.text_field :species %>
      </div>

      <div class="form-field">
        <%= f.label :breed %>
        <%= f.text_field :breed %>
      </div>

      <div class="form-field">
        <%= f.label :age_of_pet %>
        <%= f.number_field :age %>
      </div>

      <div class="form-field">
        <%= f.label :story_of_pet %>
        <%= f.text_area :story %>
      </div>

      <div class="form-field">
        <%= f.label :found_when %>
        <%= f.date_field :found_when %>
      </div>

      <div class="form-field">
        <%= f.label :status %>
        <%= f.text_field :status %>
      </div>

      <div class="form-field">
        <%= f.label :photo_of_pet %>
        <%= f.file_field :photo %>
      </div>

    <div class="form-field">
  <%= f.label :your_name %>
  <%= f.text_field :user_name %>
</div>

          <div class="form-field">
        <%= f.label :email %>
        <%= f.text_field :email%>

      </div>

<div class="form-field">
    <%= f.label :profile_photo, "Upload Profile Photo" %>
    <%= f.file_field :profile_photo %>
  </div>

      <div class="form-actions">
        <%= f.submit "Add Pet", class: "btn-primary" %>

      </div>
    <% end %>
  </div>
</body>
</html>
