<div class="card-container">
    <h1><%= @pet.name %></h1>
    <p><strong>Age:</strong> <%= @pet.age %> years</p>
    <p><strong>Breed:</strong> <%= @pet.breed %></p>
    <p><strong>Found When:</strong> <%= @pet.found_when %></p>
    <p><strong>Story:</strong> <%= @pet.story %></p>
    <p><strong>Species:</strong> <%= @pet.species %></p>
    <p><strong>Status:</strong> <%= @pet.status %></p>
    <%=  cl_image_tag @pet.photo.key, height: 200 %>
  </div>


    <%# <% if @pet.status == 'available' %>

    <%# <% elsif @pet.status == 'adopted' %>
      <%# <p>This pet has been adopted.</p> %>
      <%# <% if current_user && @pet.adopter_id == current_user.id %>
        <%# <%= link_to 'Donate', donate_pet_path(@pet), method: :put, class: 'btn btn-success' %>
      <%# <% end %>
    <%# <% end %>
<div class="container">
    <%= link_to 'Back', pets_path, class: 'btn-primary'%>
    <%= link_to 'Delete', pet_path(@pet), 'data-turbo-method': :delete, data: { confirm: 'Are you sure you want to delete this pet?' }, class: 'btn-primary' %>
  </div>
