<style>
 .navbar {
    background-image: url('https://img.freepik.com/premium-photo/large-group-cats-dogs-looking-camera-isolated-white_191971-28632.jpg?w=2000');
    background-size: 810px;
    background-repeat: no-repeat;
    background-position: center;
    height: 180px;
    box-shadow: 0px 9px 3px rgba(0, 0, 0, 0.4);
  }

  body {
    font-family: Arial, sans-serif;
    background-color: lightgrey;
    background-image: url('https://miro.medium.com/v2/resize:fit:1400/1*zHhvEV82QGoH9AM_v5y2uQ.jpeg');
    background-size: 1200px;
    background-repeat: no-repeat;

  }

  .nav-link {
    padding: 10px 20px;
    margin-right: 10px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: GREEN;
    transition: background-color 0.53s;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 9px 3px rgba(0, 0, 0, 0.4);
  }
 .btn-back {
      display: inline-block;
      padding: 10px 40px;
      background-color: GREEN;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      margin-left: -3000%;
      margin-top: 0px;
      transition: background-color 0.3s;
      cursor: pointer;
      display: inline-block;
      box-shadow: 0px 9px 3px rgba(0, 0, 0, 0.4);
    }
  .nav-link:hover {
    background-color: grey;
  }
   .btn-back:hover {
    background-color: grey;
  }

</style>

<nav class="navbar navbar-expand-md navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%# <%= image_tag "https://i.ibb.co/dWdqrrj/Full-Logo-Transparent.png", alt: "Your Logo" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Adopt", pets_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Donate", pets_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log Out", destroy_user_session_path, 'data-turbo-method': :delete, class: "nav-link" %>
        </li>
        <li class="btn">
    <%= link_to 'Back', pets_path, class: 'btn-back' %>
    </li>
      </ul>


  <% else %>
    <li class="nav-item">
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </li>
  <% end %>
</nav>
