
<div class="content">
  <div class="table-container">
      <h1 class = "Test">Every Pet deserve</h1>
      <% @pets.each do |pet| %>
        <div class="pet-card">
          <h2><%= pet.name %></h2>
          <div class="pet-image">
            <% if pet.photo.attached? %>
              <%= link_to pet_path(pet) do %>
                <%= cl_image_tag pet.photo.key, height: 140 %>
              <% end %>
            <% else %>
              <div class="placeholder-image">No Photo Available</div>
            <% end %>
          </div>
          <p class="pet-info">Breed: <%= pet.breed %></p>
          <p class="pet-info">Age: <%= pet.age %> years</p>
        </div>
      <% end %>
    </div>
  </div>
