<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
  <header class="navbar">
    <h2></h2>
  </header>

  <div class="content">
    <div class="table-container">
      <% @pets.each do |pet| %>
        <div class="pet-card">
          <h2><%= pet.name %></h2>
          <div class="pet-image">
            <% if pet.photo.attached? %>
              <%= link_to pet_path(pet) do %>
                <%= cl_image_tag pet.photo.key, height: 140 %>
              <% end %>
            <% else %>
              <div class="placeholder-image">No Photo Available</div>
            <% end %>
          </div>
          <p class="pet-info">Breed: <%= pet.breed %></p>
          <p class="pet-info">Age: <%= pet.age %> years</p>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>
